<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyData.Properties.Settings.DatabasenConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Resources\Databasen.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyData.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Resources\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <MyData.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="EUR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GBP" serializeAs="String">
                <value>0</value>
            </setting>
        </MyData.Properties.Settings>
    </userSettings>
</configuration>